<div
  tabindex="0"
  class="item"
  [class.selected]="selected()"
  (dblclick)="onEdit(task().id)"
  (click)="setSelectedTask(task())"
  (keyup.enter)="setSelectedTask(task())"
  appTooltip="Select task"
>

    @if(editMode()) {
      <div class="title">
        <input
          #editInput
          type="text"
          [(ngModel)]="task().title"
          class="edit-title"
        >
      </div>
      <app-button
        [title]="'Save'"
        (buttonClick)="updateItem.emit(task());"
        appTooltip="Save"
      />
    } @else {
        {{ task().title }}
        <app-button
          [title]="'Delete'"
          (buttonClick)="deleteItem.emit(task());"
          appTooltip="Delete task"
        />
    }
</div>
