<div
  tabindex="0"
  class="item"
  [class.selected]="selected()"
  (dblclick)="onEdit(task().id)"
  (click)="setSelectedTask(task())"
  (keyup.enter)="setSelectedTask(task())"
  appTooltip="Select task"
>

    <div class="status">
      <input
        type="checkbox"
        (click)="setStatus($event)"
        [checked]="status()"
      />
    </div>

    @if(editMode()) {
      <div class="title">
        <input
          #editInput
          [(ngModel)]="task().title"
          class="edit-title"
        >
      </div>
      <app-button
        [title]="'Save'"
        [disabled]="!task().title.trim()"
        (buttonClick)="updateItem.emit(task());"
        appTooltip="Save"
      >
        Save
      </app-button>
    } @else {
      <div class="title">
        {{ task().title }}
      </div>

        <app-button
          (buttonClick)="deleteItem.emit(task());"
          appTooltip="Delete task"
        >
          Delete
        </app-button>
    }
</div>
