.item {
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  border-radius: 4px;
  padding: 15px;

  &:hover {
    cursor: pointer;
    background: #cdcdcd;
  }
  &:active {
    color: #777777;
  }
  &:focus {
    background: #eeeeee;
  }
  &.selected {
    background: cadetblue;
  }
}
