@if (!isLoading()) {

  <h1>Backlog</h1>

  <!--
  Если фильтр действительно не нужен, то можно это удалить.
  <app-to-do-filters></app-to-do-filters>
  -->

  <div class="tasks-wrapper">
    <div class="tasks-list">

      @if (!tasks().length) {
        <div class="no-tasks">Задач нет</div>
      }

      <ul>
        @for (task of tasks(); track task.id) {
          <li>
            <app-to-do-item
              [selected] = "selectedId() === task.id"
              [editMode] = "editModeTaskId() === task.id"
              [task]="task"
              (deleteItem)="deleteItem($event)"
              (updateItem)="updateItem($event)"
              (selectedTask)="setSelectedId($event)"
              (editModeTask)="setEditModeTaskId($event)"
            />
          </li>
        }
      </ul>
    </div>
    <div class="selected-task">
      <router-outlet />
    </div>

  </div>

  <app-to-do-create-item (addItem)="addItem($event)"/>
} @else {
  <app-loading-spinner/>
}
