:host {
  border: 1px #dddddd solid;
  padding: 20px;
  margin: 20px;
  min-width: 576px;

  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline-start: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
  }
}
