@if (!isLoading()) {

  <h1>Todo List</h1>

  <div class="tasks-wrapper">
    <div class="tasks-list">
      <ul>
        @for (task of tasks(); track task.id) {
          <li>
            <app-to-do-item
              [selected] = "selectedId() === task.id"
              [editMode] = "editModeTaskId() === task.id"
              [task]="task"
              (deleteItem)="deleteItem($event)"
              (updateItem)="updateItem($event)"
              (selectedTask)="setSelectedId($event)"
              (editModeTask)="setEditModeTaskId($event)"
            />
          </li>
        }
      </ul>
    </div>
    <div class="selected-task">
      {{ selectedDescription() }}
    </div>

  </div>

  <app-to-do-add (addItem)="addItem($event)"/>
} @else {
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
}
