.btn {
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  font-family: Roboto,sans-serif;
  border-radius: 2px;

  &.delete {
    border: 2px grey solid;
    padding: 5px;
  }

  &.add-task {
    font-size: 16px;
    font-weight: 600;
    border: 2px grey solid;
    border-radius: 2px;
    padding: 5px;
    background: #9250c1;
    color: #ffffff;
  }
}
